.component {
  padding: var(--gap-min);
  border-bottom: 1px solid var(--color-divider);
  display: flex;
  align-items: center;
  justify-content: start;
  user-select: none;
  gap: var(--toolbar-gap, 0.5rem);
}

@media (min-width: 48rem) {
  .component {
    padding-left: var(--gap-max);
    padding-right: var(--gap-max);
  }
}

.sticky {
  position: sticky;
  top: 0;
  background: var(--toolbar-background);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.button.button {
  font-size: var(--toolbar-button-font-size, 0.875rem);
}

.menu {
  --icon-size: var(--toolbar-button-icon-size, 1.5rem);
  /* width: var(--toolbar-menu-button-icon-width, 3rem); */
  justify-content: center;
  margin-right: var(--gap-min, 1rem);
}

@media (min-width: 48rem) {
  .menu.menu {
    display: none;
  }
}

.menu > * {
  pointer-events: none;
}

.spacer {
  margin-left: auto;
}
