.component {
  padding: var(--gap-min);
  border-bottom: 1px solid var(--color-divider);
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  @media (--medium) {
    padding-left: var(--gap-max);
    padding-right: var(--gap-max);
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.content:first-child {
  margin-right: var(--gap-min);
}

.sticky {
  position: sticky;
  top: 0;
  background: var(--toolbar-background);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.menu {
  display: inline-flex;
  border: 1px solid var(--button-outline-color);

  @media (--medium) {
    display: none;
  }
}

.menu > * {
  pointer-events: none;
}

.menu .icon {
  --icon-size: 1.25em;
  width: 1.25em;
  height: 1em;
}

.menu,
.bookmark,
.tools {
  --button-color: var(--color-foreground);
  --button-background: var(--sidebar-hover);
  --button-outline-color: var(--color-divider);
  line-height: 0;
  font-weight: 400;
  margin: 0 5px;
}
