.component {
  margin-bottom: var(--gap-max, 2rem);
}

.list {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.list-item {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  pointer-events: none;
  margin-bottom: 0.25rem;
}

.list-item.list-item {
  padding-left: 0.75rem;
  font-weight: 400;
}

.list-item-level {
}

.list-item-level-zero {
  font-weight: var(--weight-500);
  margin-left: 0;
}

.list-item-level-one {
  margin-left: 1rem;
}

.list-item-level-two {
  margin-left: 2rem;
}

.list-item-level-three {
  margin-left: 3rem;
}

.list-item-level-four {
  margin-left: 5rem;
}

.list-item-level-five {
  margin-left: 6rem;
}

.list-item-level-six {
  margin-left: 7rem;
}

.list-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--navigation-color);
  pointer-events: all;

  background: var(--navigation-background, transparent);
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  text-decoration: none;
  line-height: 1.5;
  display: flex;
  border-radius: 3px;
}

.list-link:hover {
  background: var(--navigation-background-hover);
  color: var(--navigation-color-hover);
  text-decoration: none;
}

.list-link[aria-expanded="true"] {
  background: var(--navigation-background-expanded);
  color: var(--navigation-color-expanded);
}

.list-link[aria-current] {
  background: var(--navigation-background-current);
  color: var(--navigation-color-current);
  font-weight: 400;
  text-decoration: none;
}

/*
// Todo: Wrap in "on mouse" with whatinput so that the bg color of a focused and active item is not higlighted
// .list-link--is-active.list-link--is-focused:not([aria-current]) {
//    background: transparent;
//   color: var(--navigation-color);
// }
*/

.list-link--has-children:before {
  font-size: 0.5em;
  content: "►";
  display: block;
  margin-right: 0.25rem;
}

.list-link--is-open:before {
  content: "▼";
}

.label {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button {
  color: pink;
  margin-top: 0.25rem;
}

/* HELP MENU */
.component--help {
  margin-top: auto;
  margin-bottom: var(--gap-medium, 1.5rem);
}

.component--help .list-item {
  padding-left: 0;
}

/* TREE MENU */
.component--tree .list-item {
  padding-left: 0;
}
