.themeVariant1,
.themeVariant2,
.themeVariant3,
.themeVariant4,
.themeVariant5,
.themeVariant6,
.themeVariant7,
.themeVariant8,
.themeVariant9,
.themeVariant10 {
  --box-background: var(--bg);
  --box-color: var(--fg);
  --card-background: var(--bg);
  --card-color: var(--fg);
  --card-meta-color: var(--fg);
  --list-rule-color: var(--bg);
}

/*Webbfärg Mellanblå*/
.themeVariant1 {
  --bg: var(--color-brand-color-1);
  --fg: var(--color-foreground-inverse);
}

/*Webbfärg Beige*/
.themeVariant2 {
  --bg: var(--color-brand-color-2);
  --fg: var(--color-foreground);
}

/*Webbfärg Blå*/
.themeVariant3 {
  --bg: var(--color-brand-color-3);
  --fg: var(--color-foreground-inverse);
}

/*Webbfärg Ljusblå*/
.themeVariant4 {
  --bg: var(--color-brand-color-4);
  --fg: var(--color-foreground);
}

/*Webbfärg Greige*/
.themeVariant5 {
  --bg: var(--color-brand-color-5);
  --fg: var(--color-foreground);
}

/*Skärmfärg Mellangrön*/
.themeVariant6 {
  --bg: var(--color-brand-color-6);
  --fg: var(--color-foreground);
}

/*Skärmfärg Beige*/
.themeVariant7 {
  --bg: var(--color-brand-color-7);
  --fg: var(--color-foreground);
}

/*Skärmfärg Bakgrund*/
.themeVariant8 {
  --bg: var(--color-brand-color-8);
  --fg: var(--color-foreground);
}

/*Skärmfärg Ljusgrön*/
.themeVariant9 {
  --bg: var(--color-brand-color-9);
  --fg: var(--color-foreground);
}

/*Skärmfärg Grönbeige*/
.themeVariant10 {
  --bg: var(--color-brand-color-10);
  --fg: var(--color-foreground);
}
