.component {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
  display: block;
  margin-bottom: var(--table-module-margin-bottom, 2rem);
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: baseline;
  width: 100%;
  background: var(--table-background, transparent);
}

.title {
  text-align: left;
  margin-bottom: var(--module-wrapper-header-margin-bottom, 0.5rem);
  font-family: var(--table-title-font-family, inherit);
  font-size: var(--table-title-font-size, inherit);
  font-style: var(--table-title-font-style, inherit);
  font-weight: var(--table-title-font-weight, inherit);
}

.head {
  background: var(--table-head-background, #f4f4f5);
  color: var(--table-head-color, inherit);
  border-bottom: var(--table-head-border-bottom, 1px solid transparent);
  border-bottom-color: var(--table-head-border-bottom-color, #d4d4d8);
}

.th,
.td {
  background: var(--table-cell-background, #f4f4f5);
  font-size: var(--table-cell-font-size, inherit);
  font-weight: var(--table-cell-font-weight, inherit);
  font-style: var(--table-cell-font-style, inherit);
  padding: var(--table-cell-padding, 0.25rem 0.75rem);
  border: var(--table-cell-border, 1px solid transparent);
  border-color: var(--table-cell-border-color, #d4d4d8);
}
