.component {
}

.title {
  font-size: var(--text-module-title-font-size, 1.25rem);
}

.content {
  font-size: var(--text-module-content-font-size, 0.875rem);
}

.content h2 {
  font-size: calc(var(--text-module-title-font-size, 1.25rem) * 1);
}

.content h3 {
  font-size: calc(var(--text-module-title-font-size, 1.25rem) * 0.9);
}

.content h4 {
  font-size: calc(var(--text-module-title-font-size, 1.25rem) * 0.8);
}

.content h5,
.content h6 {
  font-size: calc(var(--text-module-content-font-size, 0.875rem) * 1);
}
