@import "../../../foundation/tools";

:root {
  --button-bg-color: var(--color-active);
  --button-text-color: var(--color-active-foreground);
  --button-outline-color: var(--color-active);
  --button-text-decoration: none;
}

.button {
  display: inline-flex;
  align-items: center;
  padding-top: var(--space-8);
  padding-right: calc(var(--space-8) + var(--space-4));
  padding-bottom: var(--space-8);
  padding-left: calc(var(--space-8) + var(--space-4));
  border-radius: var(--space-4);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  transition: all 30ms ease-in-out;
  transition-property: color, background;
  justify-content: center;

  color: var(--button-text-color);
  background: var(--button-bg-color);
  border: 1px solid var(--button-outline-color);
  text-decoration: var(--button-text-decoration);

  @include mq("medium") {
    padding-top: var(--space-8);
    padding-right: var(--space-16);
    padding-bottom: var(--space-8);
    padding-left: var(--space-16);
    font-weight: 500;
  }

  &:hover,
  &:focus {
    --button-bg-color: var(--color-neutral-tint-4);
    --button-text-color: var(--color-active);
    --button-outline-color: var(--color-neutral-tint-4);
  }
}

.button--inverted {
  --button-bg-color: var(--color-background);
  --button-text-color: var(--color-active);
  --button-outline-color: var(--color-background);

  &:hover,
  &:focus {
    --button-bg-color: var(--color-active);
    --button-text-color: var(--color-active-foreground);
    --button-outline-color: var(--color-active);
  }
}

.button--outline {
  --button-bg-color: var(--color-transparent);
  --button-text-color: var(--color-surface);
  --button-outline-color: var(--color-active);

  &:hover,
  &:focus {
    --button-bg-color: var(--color-active);
    --button-text-color: var(--color-foreground-inverse);
    --button-outline-color: var(--color-active);
  }
}

.button--transparent {
  --button-bg-color: var(--color-transparent);
  --button-text-color: var(--color-active);
  --button-outline-color: var(--color-transparent);
  --button-text-decoration: underline;

  &:hover,
  &:focus {
    --button-bg-color: var(--color-transparent);
    --button-text-color: var(--color-active);
    --button-outline-color: var(--color-transparent);
    --button-text-decoration: none;
  }
}

.button--tiny {
  font-size: 0.75rem;
  padding: var(--space-4);
}

.button--small {
  padding: var(--space-8);
  font-size: 0.875rem;
}

.button--large {
  font-size: 1.25rem;
}

.button--block {
  width: 100%;
  justify-content: flex-start;
}

// Active states
.button--active[aria-current="true"],
.button--active[aria-current="page"] {
  --button-bg-color: var(--color-active);
  --button-text-color: var(--color-foreground-inverse);
  --button-outline-color: var(--color-active);
}

// Disabled
.button:disabled,
.button[aria-disabled="true"] {
  --button-bg-color: var(--color-neutral-tint-5);
  --button-text-color: var(--color-inactive);
  --button-outline-color: var(--color-neutral-tint-5);

  opacity: 0.5;
  cursor: default;
}
