.component {
  --tree-menu-item-background: var(--navigation-default-background);
  --tree-menu-link-color: var(--navigation-default-color);
  --tree-menu-link-font-weight: 500;
  --tree-menu-item-border-radius: var(--navigation-default-border-radius);
  --tree-menu-row-margin-bottom: 3px;
  --tree-menu-link-padding: var(--space-8) var(--space-16) var(--space-8) var(--space-8);
  --tree-menu-link-hover-background: var(--navigation-hover-background);
  --tree-menu-link-hover-color: var(--navigation-hover-color);
  --tree-menu-link-active-background: var(--navigation-active-background);
  --tree-menu-link-active-color: var(--navigation-active-color);
  --tree-menu-link-expanded-background: var(--navigation-expanded-background);
  --tree-menu-link-expanded-color: var(--navigation-expanded-color);

  margin-bottom: var(--gap-min);
  width: calc(100% + 2rem);
  margin-left: -1rem;

}


.label {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

