.component {
  align-self: stretch;
  background: var(--card-background, #f7f8f9);
  border-radius: var(--card-border-radius, 0.25rem);
  border: var(--card-border, 0);
  color: var(--card-color, inherit);
  font-size: var(--card-font-size, 0.875rem);
  overflow: hidden;
  padding: var(--card-padding, 1rem);
  position: relative;
}

.component:focus-within {
  box-shadow: var(
    --card-focus-box-shadow,
    var(--focus-box-shadow, 0 0 0 3px black)
  );
}

.component:before {
  content: "";
  display: block;
  margin-top: -10rem;
  margin-bottom: 10rem;
}

.component:after {
  content: "";
  display: block;
  margin-top: 10rem;
  margin-bottom: -10rem;
}

.content {
  display: grid;
  gap: 0.25rem;
}

.meta {
  color: var(--card-meta-color, #525c63);
}

.image {
  margin-right: calc(var(--box-padding) * -1);
  margin-left: calc(var(--box-padding) * -1);
  position: relative;
  top: calc(var(--box-padding) * -1);
}

.title,
.titleLink {
  font-size: var(--card-title-font-size, 1.25rem);
  margin-bottom: 0;
}

.input {
  --card-title-font-size: var(--card-input-title-font-size, 1.5rem);
  padding: var(--card-input-padding, 3.5rem 1.5rem 1.5rem 1.5rem);
  display: grid;
}

.input::after,
.input::before {
  content: none;
}

.input .content {
  align-self: self-end;
}

.input .meta {
  order: 1;
}
