.component {
  position: relative;
  font-size: var(--teaser-font-size, 0.875rem);
}

.content {
  display: grid;
  gap: 0.125rem;
}

.meta {
  color: var(--teaser-meta-color, inherit);
}

.image {
  align-self: center;
}

.title,
.titleLink {
  font-size: var(--teaser-title-font-size, 1.25rem);
  margin-bottom: 0;
}
