.component {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--grid-column-min-width, 15rem), 100%), 1fr)
  );
  gap: var(--grid-gap, 1rem);
  grid-column-gap: var(--grid-column-gap, 2rem);
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  display: grid;
}
