.component {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 10rem;
}

.content {
  display: grid;
  gap: 0.25rem;
  grid-template-rows: repeat(4, max-content);
}

.meta {
  font-size: 0.875rem;
  color: var(--teaser-meta-color, inherit);
}

.image {
  align-self: center;
}

.title,
.titleLink {
  font-size: var(--teaser-title-font-size, 1.25rem);
  margin-bottom: 0;
}
