.list {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.item:not(:last-child) {
  margin-bottom: 1px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--navigation-default-color, inherit);
  background: var(--navigation-default-background, transparent);
  padding: var(--navigation-default-padding, 0.5rem);
  text-decoration: var(--navigation-default-text-decoration, none);
  border-radius: var(--navigation-default-border-radius, 3px);
  padding: var(--navigation-default-padding, 0.25rem 0.5rem);
  margin: 0 -0.5rem;
}

.link:hover {
  background: var(--navigation-hover-background, #0369a1);
  color: var(--navigation-hover-color, white);
  text-decoration: var(--navigation-hover-text-decoration, none);
}

.link[aria-current] {
  background: var(--navigation-active-background, blue);
  color: var(--navigation-active-color, white);
  text-decoration: var(--navigation-active-text-decoration, none);
  font-weight: 500;
}

.label {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
