.component {
  --list-gap: 2rem;
  --focus-outset: calc((var(--list-gap, 0) - var(--list-rule-width, 1px)) / 2);
}

.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
