.header {
  display: flex;
  justify-content: space-between;
}

.list {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.item {
  pointer-events: none;
}

.item:not(:last-child) .row {
  margin-bottom: 1px;
}

.link,
.toggleButton {
  --link-color: var(--navigation-default-color, inherit);
  --link-background: var(--navigation-default-background, transparent);
  --link-text-decoration: var(--navigation-default-text-decoration, none);
  --link-hover-background: var(--navigation-hover-background, #0369a1);
  --link-hover-color: var(--navigation-hover-color, white);
  --link-hover-text-decoration: var(--navigation-hover-text-decoration, none);
  display: flex;
  pointer-events: all;
  align-items: center;
  border-radius: var(--navigation-default-border-radius, 3px);
  padding: var(--navigation-default-padding, 0.25rem 0.5rem);
  margin: 0 -0.5rem;
}

.linkEmpty {
  font-style: italic;
  font-size: 0.75rem;
}

.toggleButton {
  padding-left: 0;
  cursor: pointer;
}

.toggleButton:before {
  font-size: 0.666em;
  content: "►";
  display: block;
  margin-right: var(--space-4);
}

.toggleButton:hover {
  --background: none;
}

.toggleButtonIsOpen:before {
  content: "▼";
}

.label,
.toggle,
.toggleButton {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.toggleView {
  color: var(--color-active);
  cursor: pointer;
}

.button {
  --button-bg-color: var(--sidebar-state-hover);
  color: var(--color-foreground);
  margin-top: var(--space-4);
}

/* EDIT VIEW */

.edit li {
  /* @extend .dnd-menu__list-item; */
}

.edit .link {
  justify-content: space-between;
}

.edit .linkIcon {
  --icon-color: var(--sidebar-icon);
  pointer-events: none;
}

.edit .linkIconInverse {
  --icon-color: var(--color-foreground-inverse);
}

.editHidden:before {
  content: "";
  height: calc(var(--space-4) / 2);
  display: block;
  border-radius: var(--space-4);
  background: var(--color-divider);
  margin-top: var(--space-16);
  margin-bottom: var(--space-16);
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.editHidden .linkLabel {
  opacity: 0.6;
}

.editHidden .linkLabelFilled {
  opacity: 1;
}

.edit .linkLabelNotFilled {
  opacity: 0.6;
}
