.component {
  margin-bottom: var(--gap-min);
  width: calc(100% + 2rem);
  margin-left: -1rem;
}

.list {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.item {
  margin-bottom: 3px;
}

.label {
}

.text {
}

.link {
  background: var(--navigation-default-background, #000);
  color: var(--navigation-default-color, #fff);
  padding: var(--navigation-default-padding, var(--space-8) var(--space-16));
  font-weight: 500;
  text-decoration: var(--navigation-default-text-decoration, none);
  line-height: 1.5;
  display: flex;
  align-items: center;
  transition: background 50ms ease;
  border-radius: var(--navigation-border-radius, 3px);
}

.link:hover,
.link:focus {
  background: var(--navigation-hover-background, #333);
  color: var(--navigation-hover-color, #999);
  text-decoration: var(--navigation-hover-text-decoration, none);
}
.link:hover .iconWrapper:not(.transparent),
.link:focus .iconWrapper:not(.transparent) {
  --icon-color: var(--navigation-hover-icon-color, --color-foreground-inverse);
  background: var(--navigation-hover-icon-background, --color-blue-tint-1);
}

.link:active {
  background: var(--navigation-active-background, #333);
  color: var(--navigation-active-color, #000);
  font-weight: inherit;
}
.link:active .iconWrapper:not(.transparent) {
  --icon-color: var(--navigation-icon-active-color, --color-foreground-inverse);
  background: var(--navigation-icon-active-background, --color-blue-tint-1);
}

.iconWrapper {
  --icon-color: var(
    --navigation-default-icon-color,
    --color-foreground-inverse
  );
  background: var(--navigation-default-icon-background, --color-blue-tint-4);
  border-radius: 100%;
  margin-right: var(--space-8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  flex: none;
}
.transparent {
  background: transparent;
}

.icon.icon {
  --icon-size: 1rem;
}

.link[aria-current] {
  background: var(--navigation-current-background, #f00);
  color: var(--navigation-current-color, #00f);
  font-weight: 500;
  text-decoration: var(--navigation-active-text-decoration, none);
}
.link[aria-current] .iconWrapper:not(.transparent) {
  --icon-color: var(
    --navigation-current-icon-color,
    --color-foreground-inverse
  );
  background: var(--navigation-current-icon-background, --color-blue-tint-1);
}
