.component {
  margin-bottom: var(--gap-min);
}

.list {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.item {
  /* margin-right: calc(var(--space-8) * -1);
  margin-left: calc(var(--space-8) * -1); */
  margin-bottom: 1px;
}

.label {
}

.text {
}

.link {
  background: var(--sidebar-top-navigation-background, #000);
  color: var(--sidebar-top-navigation-color, #fff);
  padding-top: var(--space-8);
  padding-left: var(--space-16);
  padding-right: var(--space-16);
  padding-bottom: var(--space-8);
  font-weight: 500;
  text-decoration: none;
  line-height: 1.5;
  display: flex;
  align-items: center;
  transition: background 50ms ease;
  border-radius: 3px;
}

.link:hover,
.link:focus {
  background: var(--sidebar-top-navigation-background-hover, #333);
  color: var(--sidebar-top-navigation-color-hover, #999);
  text-decoration: none;
}
.link:hover .iconWrapper,
.link:focus .iconWrapper {
  --icon-color: var(
    --sidebar-top-navigation-icon-color-hover,
    --color-foreground-inverse
  );
  background: var(
    --sidebar-top-navigation-icon-background-hover,
    --color-blue-tint-1
  );
}

.link:active {
  background: var(--sidebar-top-navigation-background-active, #333);
  color: var(--sidebar-top-navigation-color-active, #000);
  font-weight: inherit;
}
.link:active .iconWrapper {
  --icon-color: var(
    --sidebar-top-navigation-icon-color-active,
    --color-foreground-inverse
  );
  background: var(
    --sidebar-top-navigation-icon-background-active,
    --color-blue-tint-1
  );
}

.iconWrapper {
  --icon-color: var(
    --sidebar-top-navigation-icon-color,
    --color-foreground-inverse
  );
  background: var(
    --sidebar-top-navigation-icon-background,
    --color-blue-tint-4
  );
  border-radius: 100%;
  margin-right: var(--space-8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  flex: none;
}
.transparent {
  background: transparent;
}

.icon.icon {
  --icon-size: 1rem;
}

.link[aria-current] {
  background: var(--sidebar-top-navigation-background-current, #f00);
  color: var(--sidebar-top-navigation-color-current, #00f);
  font-weight: 500;
  text-decoration: none;
}
.link[aria-current] .iconWrapper {
  --icon-color: var(
    --sidebar-top-navigation-icon-color-current,
    --color-foreground-inverse
  );
  background: var(
    --sidebar-top-navigation-icon-background-current,
    --color-blue-tint-1
  );
}
