@custom-media --large (min-width: 68rem);
@custom-media --medium (min-width: 48rem);
@custom-media --small (min-width: 38rem);

.component {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main {
  overflow: scroll;
  height: 100%;
  width: 100%;
  position: relative;
}

.content {
  --gap: var(--gap-min);
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--gap);

  @media (--medium) {
    --gap: var(--gap-max);
  }
}
